.tiles{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    *{ font-size: 15px;}

    div{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-start;
        width: max-content;
        div{
            display: flex;
            flex-direction: row;
        }
    }

    ul{
        margin: 0;
        padding-inline-start: 0;
    }
    li{
        list-style: none;
    }

    a:any-link{
        color: rgb(24, 27, 37) !important;
    }
    a:hover{
        border-bottom: unset;
        text-decoration: underline ;
    }
    img{
        width: 50px;
    }
}
@media (min-width: 600px) {
    .tiles {
        gap: 30px;
        *{font-size: 24px;}
    }
    .tiles div {
        flex-direction: row;
        gap: 30px;
    }
    .tiles img {
        width: 50px;
        height: auto;
    }
}

@media (min-width: 900px) {
    .tiles {
        gap: 40px;
    }
    .tiles div {
        display: flex;
        gap: 40px;
        div{
            display: flex;
        }
    }
}